<%= form_with(model: grocery) do |form| %>
  <% if grocery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(grocery.errors.count, "error") %> prohibited this grocery from being saved:</h2>

      <ul>
        <% grocery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :grocery_name, style: "display: block" %>
    <%= form.text_field :grocery_name %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :store_name, style: "display: block" %>
    <%= form.text_field :store_name %>
  </div>

  <div>
    <%= form.label :pickup_time, style: "display: block" %>
    <%= form.date_field :pickup_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
