<div id="<%= dom_id grocery %>">
  <p>
    <strong>Grocery name:</strong>
    <%= grocery.grocery_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= grocery.quantity %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= grocery.category %>
  </p>

  <p>
    <strong>Store name:</strong>
    <%= grocery.store_name %>
  </p>

  <p>
    <strong>Pickup time:</strong>
    <%= grocery.pickup_time %>
  </p>

</div>
